.global-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-title {
    font-size: 36px;
}

.global-container {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 500px;
    padding: 5px;
    border: 1px solid grey;
}

.book-text {
    text-align: justify;
}

.right-panel {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pagesbutton {
    display: flex;
    flex-direction: row;
}

#next {
    margin-left: 60%;
    color: royalblue;
}

#previous {
    color: royalblue;
}

@media (min-width: 600px) and (max-width: 1280px) {
    .global-container {
        width: 200px;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        flex-basis: auto;
    }

    .left-panel {
        width: 500px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-basis: auto;
    }
}


 @media (max-width: 600px) {
    .global-container {
        width: 100px;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        flex-basis: auto;
    }

    .left-panel {
        width: 250px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-basis: auto;
    }

    .main-title {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .global-container {
        width: 50px;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        flex-basis: auto;
    }

    .left-panel {
        width: 125px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-basis: auto;
    }

    .main-title {
        text-align: center;
    }
}
